In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect('anecdote.db')  # подключение
cur = con.cursor()  # курсор

In [3]:
trigram_query = """
SELECT t1.text_id AS text_id, t1.sent_id AS sent_id, t1.word AS word1, t1.lemma AS lemma1, t1.pos AS pos1, t2.word AS word2, t2.lemma AS lemma2, t2.pos AS pos2, t3.word AS word3, t3.lemma AS lemma3, t3.pos AS pos3

FROM words AS t1
JOIN words AS t2 ON t2.word_id = t1.word_id + 1 AND t2.sent_id = t1.sent_id AND t2.text_id = t1.text_id
JOIN words AS t3 ON t3.word_id = t1.word_id + 2 AND t3.sent_id = t1.sent_id AND t3.text_id = t1.text_id
"""

In [ ]:
cur.execute("""
CREATE TABLE trigrams (
    text_id INT, 
    sent_id INT,
    word1 TEXT,
    lemma1 TEXT,
    pos1 TEXT,
    word2 TEXT,
    lemma2 TEXT,
    pos2 TEXT,
    word3 TEXT,
    lemma3 TEXT,
    pos3 TEXT
)
""")
con.commit()

In [6]:
cur.execute(trigram_query)
data = cur.fetchall()
cur.executemany("INSERT INTO trigrams VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", data)
con.commit()

In [8]:
bigram_query = """
    SELECT t1.text_id AS text_id, t1.sent_id AS sent_id, t1.word AS word1, t1.lemma AS lemma1, t1.pos AS pos1, t2.word AS word2, t2.lemma AS lemma2, t2.pos AS pos2
    FROM words AS t1
    JOIN words AS t2 ON t2.word_id = t1.word_id + 1 AND t2.sent_id = t1.sent_id AND t2.text_id = t1.text_id
"""

In [7]:
cur.execute("""
CREATE TABLE bigrams (
    text_id INT, 
    sent_id INT,
    word1 TEXT,
    lemma1 TEXT,
    pos1 TEXT,
    word2 TEXT,
    lemma2 TEXT,
    pos2 TEXT
)
""")
con.commit()

In [10]:
cur.execute(bigram_query)
data_2 = cur.fetchall()
cur.executemany("INSERT INTO bigrams VALUES (?, ?, ?, ?, ?, ?, ?, ?)", data_2)
con.commit()